include README.md
include LICENSE
include requirements.txt
include *.yml
include *.yaml
include *.sql
include *.html
recursive-include config *.yaml
recursive-include examples *.sql *.yaml
recursive-include output *.json *.yaml
recursive-include schema_graph_builder *.py
recursive-include schema_graph_builder *.yaml
recursive-exclude schema_graph_builder *.pyc
recursive-exclude schema_graph_builder __pycache__
prune tests
prune build
prune dist
prune *.egg-info
prune __pycache__
prune *.pyc
prune .git* 